<h1>Properties</h1>

<button [disabled]="btnDisable">Disable</button>
<input type="text" [value]="name"/>

<progress max="100" [value]="age"></progress>

<img width="100" [src]="img"/>
<br/>

<button (click)="toogleButton()">Toogle Button</button>

<p>
  {{vObj.a}}
  {{vObj.b}}
  {{vObj.c}}
  {{vObj.d}}
</p>

<hr/>
<br/>

<h3>Age {{vObj.b}}</h3>
<button (click)="mIncreaseAge()">Add +1</button>


<hr/>
<br/>
<h1>Hello World</h1>
<h2>{{"Hello World".repeat(5)}}</h2>

<p>3+3 = {{3+3}}</p>

<h4>{{name}} y tengo {{age}}</h4>

<img src={{img}} alt="IMAGE">
